<!DOCTYPE html>
<html lang="en">
<head>
    <title>Dear, Sun-Young Park</title>
    <meta  http-equiv="Content-Type" content="text/html charset=UTF-8">
    <link href="css/hellosun.css" rel="stylesheet"/>
</head>
<body>
<h1>
    선영이에게
</h1>
<hr>
<h2>
햇살 가득한 아침, 마음 속에 당신을 그려요.<br>
경진 오피스텔 705호에 글 한 송이를 두고 갑니다.<br>
    <br>
프리지아가 아름다웠던 이유를 이제서야 알 것 같아요.<br>
꽃을 보고 당신이 떠올랐기 때문이에요.<br>
    <br>
가끔 가끔 제 눈망울에 들러주세요.<br>
방울 방울 사랑을 틔워놓을게요.<br>
꽃은 시들어도 사랑은 시들지 않을 거에요.
</h2>
<img src="image/shkim.jpg" width="300" height="530">
</body>
</html>